/Manifest.toml
/docs/Manifest.toml
/docs/build/

/.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Results
/results/**/*.csv

# ISPHVDC data
/data/ISPHVDC/**

# data that is not mine and i dont know if i can publish here
/data/hypersim_csvs/
/data/Fuel_and_Technology_Cost_Review_Data_ACIL_Allen.xlsx
/data/NEM Generation Information July 2021.xlsx
/data/unsw_predictions_with_median_costs.csv

# working files
test.jl
test.py
